*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #D2B4DE
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #dda0dd93;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
}

.logo {
    width: 80px;
    margin: auto
}

.logo img {
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    /* box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff */
    /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
    box-shadow: 3px 3px 3px #c197c1, -3px -3px 3px #dda0dd;
}

.wrapper .name {
    text-align: center;
    margin: 20px 0px 30px 0px;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px
}

.wrapper .form-field {
    padding-left: 0px;
    margin-bottom: 20px;
    /* border-radius: 20px; */
    box-shadow: inset 8px 8px 8px #c197c1, inset -8px -8px 8px #dda0dd93
}

.wrapper .form-field .fas {
    color: #555
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #D2B4DE;
    color: #fff;
    border-radius: 25px;
    border: 0px;
    box-shadow: 3px 3px 3px #c197c1, -3px -3px 3px #c197c1;
    letter-spacing: 1.3px
}

.wrapper .btn:hover {
    background-color: #dda0dd93;
}

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #666;
}

.wrapper a:hover {
    color: red
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px
    }
}
.btn{
    margin: 30px 0px 10px 0px;
}
.register{
    text-align: center;
}
.alert{
    text-align: center;
}

