body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper {
    border-bottom: 1px solid #F8F9FA;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

/* responsive */
@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* custom CSS */

.navbar {
    /* background-color: #ffc0cb; */
    /* background-color: #dda0dd; */
    background-color: #D2B4DE;
}
.sidebar {
    background-color: #D2B4DE;
}
.sidebar a {
    background-color: #D2B4DE;
}
.sidebar a:hover{
    background-color: #dda0dd;
}
.sidebar a:active{
    background-color: #dda0dd;
}
.sidebar a:focus {
    background: #dda0dd;
    color: black;
}